 button {
  font-size: 20px;
  background-image: linear-gradient(to right,#ff9966, #ff5e62);
  color: white;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

img {
  height: 80px;
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

body {
  background-color: rgb(29, 29, 29);
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow-x:hidden;
  overflow-y:hidden;
  background-color: rgb(29, 29, 29);
}

#game-board {
  position: relative;
}